@import '~antd/dist/antd.css';

.App {
  text-align: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 24px;
  min-height: 100vh;
  /*background: linear-gradient(to top right, rgb(27, 91, 134) 0% ,rgb(26, 88, 129) 100%);
 */
}

.footer_link {
  color: grey;
  filter: opacity(50%);
}

.footer_link:hover {
  filter: opacity(100%);
}

.ant-table-thead tr th{
  border-bottom: 1px solid black;
  background-color: #e9ebee;
}