@import '~antd/dist/antd.css';

.App {
  text-align: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 24px;
  min-height: 100vh;
  /*background: linear-gradient(to top right, rgb(27, 91, 134) 0% ,rgb(26, 88, 129) 100%);
 */
 background-color: grey;
 
}

.footer_link {
  color: grey;
}

.footer_link:hover {
  color: #1890ff;
}